<component name="ArtifactManager">
  <artifact type="war" name="SpringBootConfigurationSource:war">
    <output-path>$PROJECT_DIR$/SpringBootConfigurationSource/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringBootConfigurationSource</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="cn.boot.Main.SpringBootConfigurationSource.war">
      <element id="artifact" artifact-name="SpringBootConfigurationSource:war exploded" />
    </root>
  </artifact>
</component>